# Hugo files and directories to ignore
/public/
/resources/
hugo_stats.json

# Build and temp files
.DS_Store
*.bak
*.swp
*.tmp

# Node.js dependencies (if using npm/yarn for asset management)
node_modules/
package-lock.json
yarn.lock

# OS and editor specific files
Thumbs.db
*.log
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Git specific files
*.orig

# Theme files
themes/AdrianFreeTheme