@import '../../../css/utils';

.base {
  position: relative;
  width: fit-content;

  label {
    display: flex;
    flex-direction: column;
    width: fit-content;
    flex-grow: 1;
    align-items: flex-start;
    width: 100%;

    span {
      margin-bottom: 8px;
    }

    input {
      padding: 16px;
      box-sizing: border-box;
      color: $black;
      font-size: 14px;
      line-height: 16px;
      font-family: $font-family;

      &:active,
      &:focus,
      &.focused {
        padding: 15px;
        outline: none;
        border: 2px solid $light-blue;
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $light-grey;
        opacity: 1; /* Firefox */
      }
      &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $light-grey;
      }
    }
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  width: fit-content;
  flex-grow: 1;
  align-items: flex-start;
}

.no-error {
  border: $border-default;
  border-radius: $border-radius-default;
}

.has-error {
  border: $border-error;
  border-radius: 4px;
}

.error-icon {
  position: absolute;
  right: 16px;
  top: 16px;

  &.with-label {
    top: 45px;
  }
}

.error-message {
  min-width: 100%;
  text-align: right;
  margin-top: 5px;
  max-width: fit-content;
}

.frank {
  padding-right: 50px;
  min-width: initial;
  max-width: 100%;
  text-overflow: ellipsis;

  &:active,
  &:focus,
  &.focused {
    padding-right: 49px;
  }

  &:not(.isEditing) {
    border-color: transparent;
  }
}

.edit-icon-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  justify-content: center;

  &:hover {
    background-color: transparent;
  }
}
