@import '../../../css/utils';

.base {
  position: relative;
  width: 100%;

  label {
    display: flex;
    flex-direction: column;
    width: fit-content;
    flex-grow: 1;
    align-items: flex-start;
    width: 100%;

    .label {
      margin-bottom: 8px;
    }

    .wrapper {
      width: 100%;
      position: relative;
      & > div {
        border: $border-default !important;
        border-radius: $border-radius-default !important;
      }
    }
  }
}
