@import '../../../css/utils';

.base {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  position: relative;

  .toggle {
    height: 48px;
    display: flex;
    width: 40px;
    justify-content: center;
    cursor: pointer;
  }

  .chevron {
    width: 7px;
    height: auto;
    transition: transform 0.2s ease-in-out 0ms;

    &.open {
      transform: rotate(180deg);
    }
  }

  .input {
    width: auto;
    border: $border-width-default solid $light-grey;
    border-radius: $border-radius-default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;

    input {
      height: 48px;
      width: 100%;
      display: block;
      color: $black;
      font-family: $font-family;
      font-size: 14px;
      border: none;
      border-radius: $border-radius-default;
      border-right: $border-width-default solid $light-grey;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      outline: none;
      padding: 12px 16px;
      transition: $animation-type-easyinout $animation-time-default;

      &::placeholder {
        color: $light-grey;
      }

      &:focus {
        color: $black;
      }

      &:disabled {
        background: $lightest-grey;
      }
    }
  }

  .option {
    width: 100%;
    height: auto;
    color: $black;
    font-family: $font-family;
    font-size: 14px;
    padding: 12px 16px;
    line-height: 1.5;
    cursor: pointer;
    display: inline-block;
    word-wrap: break-word;

    &.suggestion-active,
    &:hover {
      color: $black;
      background-color: $hover-grey;
    }
  }
  .input-field {
    width: 100%;
  }
  .list {
    z-index: 10;
    position: absolute;
    width: 100%;
    border: $border-width-default solid $light-grey;
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: $white;
    margin: 0;
    padding: 0;
    max-height: 215px;
    overflow: auto;
  }
}
