@import './colors';

.error-bg,
.red-bg {
  background-color: $error-red;
}

.warning-bg,
.orange-bg {
  background-color: $warning-orange;
}

.success-bg,
.green-bg {
  background-color: $success-green;
}

.light-blue-bg {
  background-color: $light-blue;
}
