@import './colors';

:export {
  dark-blue: $dark-blue;
  light-blue: $light-blue;
  shade-blue: $shade-blue;

  red: $red;
  green: $green;

  error-red: $error-red;
  warning-orange: $warning-orange;
  success-green: $success-green;

  black: $black;
  light-grey: $light-grey;
  lightest-grey: $lightest-grey;
  white: $white;
}
