@import '../../../css/utils';

.base {
  padding: 16px;
  box-sizing: border-box;
  border: $border-dashed;
  border-radius: $border-radius-default;
  color: $black;
  font-size: 14px;
  font-family: $font-family;
  resize: none;
  height: 100%;

  &:active,
  &:focus,
  &.focused {
    padding: 15px;
    outline: none;
    border: 2px solid $light-blue;
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $light-grey;
    opacity: 1; /* Firefox */
    font-style: italic;
  }
  &::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $light-grey;
    font-style: italic;
  }
}

.input-area {
  position: relative;
  width: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;

    span {
      margin-bottom: 8px;
    }
  }
}

.has-error {
  border: $border-error;
}

.error-icon {
  position: absolute;
  right: 16px;
  top: 16px;
}

.error-message {
  min-width: 100%;
  text-align: right;
  margin-top: 8px;
  max-width: fit-content;
}

.character-counter {
  margin-top: 8px;
}
