<div class="supported-networks">
    <h2 class="supported-networks__title">Supported Networks</h2>
    <div class="supported-networks__grid">
        <div class="supported-networks__item">
            <img src="/images/logos/cosmos-text.svg" alt="Cosmos Network Logo" class="supported-networks__logo">
        </div>
        <div class="supported-networks__item">
            <img src="/images/logos/osmosis-text.svg" alt="Osmosis Network Logo" class="supported-networks__logo">
        </div>
        <div class="supported-networks__item">
            <img src="/images/logos/celestia-text.svg" alt="Celestia Network Logo" class="supported-networks__logo">
        </div>
        <div class="supported-networks__item">
            <img src="/images/logos/stride-text.svg" alt="Stride Network Logo" class="supported-networks__logo">
        </div>
        <div class="supported-networks__item">
            <img src="/images/logos/allora-text.svg" alt="Allora Network Logo" class="supported-networks__logo">
        </div>
        <div class="supported-networks__item">
            <img src="/images/logos/xion-text.svg" alt="Xion Network Logo" class="supported-networks__logo">
        </div>
    </div>
</div>

<!-- Removed the carousel JavaScript as it's no longer needed --> 