{{ define "main" }}
<section class="section section--thank-you">
  <div class="contact-circle contact-circle--1"></div>
  <div class="hero__circle hero__circle--2 hidden"></div>
  <div class="hero__number hero__number--1"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="particle"></div>
  <div class="thank-you">
    <div class="thank-you__container">
      <div class="thank-you__content">
        <h1 class="thank-you__title">{{ .Title }}</h1>
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
{{ end }} 